<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div class="form-container">

    <div th:if="${param.success}">
        <div class="success-message">
            <p>Registration Successful!</p>
        </div>
    </div>

    <h2>Registration</h2>
    <form th:action="@{/users/register}" method="post" role="form" th:object="${user}">
        <label for="email">Email:</label>
        <input th:field="*{email}" type="text" id="email" name="email" placeholder="Enter your Email"
               required>

        <label for="username">Username:</label>
        <input th:field="*{username}" type="text" id="username" name="username" placeholder="Enter your Username"
               required>

        <label for="password">Password:</label>
        <input th:field="*{password}" type="password" id="password" name="password"
               placeholder="Enter your Password" required>

        <button type="submit">Register</button>
    </form>
    <div>
        <span th:if="${Userexist}" style="color: red;">Username is Taken</span>
    </div>
    <div>
        <p class="form-footer">Already have an account? <a th:href="@{/users/login1}">Login</a> here.</p>
    </div>
</div>
</body>

</html>